.react-3d-menu {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    perspective: 800px;
    transform-style: preserve-3d;

    &,
    & * {
        box-sizing: border-box;
    }

    :global {
        .r3m-menu-wrap {
            transform-style: preserve-3d;
            transform: rotateY(-30deg);
        }
    }
}

.menu-item {
    transform-origin: center top;
    transform-style: preserve-3d;

    :global {
        .r3m-menu-item-card {
            position: relative;
            margin-top: 1px;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                transition: 0.3s;
            }

            &.shadow::after {
                background-color: rgb(0, 0, 0, 0.1);
            }

            &.hidden {
                display: none;
            }
        }
    }
}
